* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffe4cf;
  color: #421313;
  line-height: 1.6;
}
ul{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    gap: 15px;
}
a {
    text-decoration: none;
    margin-left: 10px;
    color: #FF4309;
}
header {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #e0d6cf;
}
.section {
 background: #ffe4cf;
}
.logo img {
  width: 6.8rem;
  margin-right: 500px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #421313;
  font-weight: bold;
}
.container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 50px;
}
.container h1{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #FF4309;
}
.intro{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 21.6rem;
}
.imagem{
  display: flex;
}
.imagem img{
  width: auto;
  height: 300px;
}
.texto-img{
  display: flex;
  margin-left: 90px;
  width: 500px;
  font-size: 1.3rem;
} 
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  background: #ffe4cf;
}
.hero-text {
  flex: 1;
  padding-right: 2rem;
}

.hero img {
  width: 300px;
  border-radius: 8px;
}

.section {
  padding: 3rem 2rem;
  background-color: #FFE4CF ;
}

.red-bg {
  background-color: #e3362c;
  color: white;
}

.light-bg {
  background-color: #ffe4cf;
}

.mentoras {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  background: #ffe4cf;
}

.card {
  background: white;
  border: 2px solid #e0d6cf;
  border-radius: 12px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}
footer {
  background: #FF4309;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
.intro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10rem;
}
.imagem{
    display: flex;
}
.imagem img{
    width: auto;
    height: 300px;
    border-radius: 5px;
}
.texto-img{
    display: flex;
    margin-left: 90px;
    width: 400px;
}

.divisoria{
    display: flex;
    background:#FF4309;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
    font-size: 20px;
}
.divisoria ul{
    background: #FF4309;
    color: white;
}
.divisoria li{  
    background: #FF4309;
}